<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="left-box">
                <h3>All-in-one</h3>
                <h1>Restaurant pos </h1> 
                  <h1> system</h1>
                <img src="{{image}}" alt="image"class="left-image" >
            </div>

        </div>
        <div class="col">
            <div class="right">
                <h4>Sign In</h4><br>
                <form action="">
                    <p class="note">Add your phonenumber. We will send a verification code so we know you're real.</p>
                    <div class="inputbox">
                        <img src="{{flagImg}}" alt="flag" class="flag-image">
                        <h5 class="phn-code"> +91 </h5>
                        <input type="phone" class="phoneinput">
                        <i class="fa-solid fa-circle-xmark"></i>
                        <!-- <fa-icon [icon]="faXmarkCircle"></fa-icon> -->
                    </div><br>
                    <h5 class="send-otp">Enter OTP sent to your number</h5>
                    <ng-otp-input [config]="{length:6,inputStyles:{'background-color':'#F5F5F5','border':'1px solid #F5F5F5','margin-right':'13px','margin-left':'13px'},inputClass:'anju'}" ></ng-otp-input>
                    <p id="note1">Having trouble? <a id="otp" href="">Resend OTP</a></p>
                    <button type="submit">Sign In</button>
                </form><br>
                <div class="wrong-one" *ngIf="wrongOTP">
                    <div class="wrong-two">
                        <p>Wrong OTP entered !</p>
                    </div>
                </div>
                <br>
            </div>
            
        </div>
    </div>
    
</div>
