<div class="container1">
  <div class="container-gradient">
     
  </div>
    <nav class="my-nav navbar navbar-expand-lg navbar-light" >
      <div class="container-fluid">
        <a class="my-nav navbar-brand" routerLink="../">
          <span class="left"></span> </a>
      </div>
    </nav>
 
  <!-- <div >
    
  </div> -->
  <div class="caption">
    <h2>Account created</h2>
    <h2>successfully</h2>
    <h4>You are ready to go !!</h4>
    <button type="button"routerLink="../login" class="continuebtn"> Continue</button>
  </div>
   
</div>
  

