<div class="container1">
    <div class="sidebar">
        <div class="logo-image">
            <img src="{{logoImage}}" width="40px" height="40px">
        </div>
        <a class="inactive" routerLink="" routerLinkActive="active">
            <fa-icon [icon]="faTableCellsLarge"></fa-icon>
        </a>
        <a class="inactive" routerLink="userlist" routerLinkActive="active">
            <fa-icon [icon]="faBriefcase"></fa-icon>
        </a>
        <a class="inactive" routerLink="categories" routerLinkActive="active">
            <fa-icon [icon]="faUser"></fa-icon>
        </a>
        <a class="inactive" routerLink="categories" routerLinkActive="active">
            <fa-icon [icon]="faList"></fa-icon>
        </a>
        <a class="inactive" routerLink="categories" routerLinkActive="active">
            <fa-icon [icon]="faSquarePollVertical"></fa-icon>
        </a>
        <a class="inactive" routerLink="categories" routerLinkActive="active">
            <fa-icon [icon]="faEllipsis"></fa-icon>
        </a>
        
    </div>
    <div class="right">
        
    </div>
</div>