<div class="container1">
  
    <nav class="my-nav navbar navbar-expand-lg navbar-light" >
      <div class="container-fluid">
        <a class="navbar-brand" href="#"> <img src="assets/logo.png" alt="" style="width: 60px;"> </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="" style="color: white;">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="signup"style="color: white;">About us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"routerLink="login-two"style="color: white;">Specialities</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"routerLink="signup" style="color: white;">Sign-Up</a>
            </li>
          </ul>
          <form class="d-flex" action="login">
            <button class="btn" type="submit"style="color: white;">Login</button>
          </form>
        </div>
      </div>
    </nav>
    
  <div id="carouselExampleIndicators" class="my-carousel carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="" class="img-carousel d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="" class="img-carousel d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="" class="img-carousel d-block w-100" alt="...">
      </div>
    </div>
    <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button> -->
  </div>
  <div class="container-gradient">
 
  </div>
  <div class="container-gradient1">
 
  </div>
  <div >
    <button class="startbtn"> Get started</button>
  </div>
  <div class="caption">
    <h1>Restaurant pos</h1>
    <h1>system</h1>
    <h4>for your taste</h4>
  </div>
  
 
</div>
  

