.container{
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}
.left{
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1609951651556-5334e2706168?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80');
    background-size: cover;
    background-position: center
    /* background: linear-gradient(90deg, rgba(0, 0, 0, 0.48) 0%, rgba(196, 196, 196, 0) 112.5%); */
}
.right{
    padding-left: 100px;
    padding-top: 90px;
}
input{
    Width:80%;
    Height:50px;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #5a5a5a;
    padding-left: 40px;
}
#btnLogin{
    Width:80%;
    Height:50px;
    border: 1px solid #F90716;
    background: #F90716;
    border-radius: 8px;
    font-family: 'Montserrat';
    font-weight:900;
    font-size: 20px;
    vertical-align: center;
    letter-spacing: -0.3px;
    color: #FFFFFF; 
}
h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 62px;
    color: #000000;
}
label{
    
    font-family: 'Poppins';
    /* font-style: normal; */
    font-weight: 400;
    font-size: 15px;
    color: #000000
}
::placeholder {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 15px;
    color: #5A5A5A;
    padding-left: 10px;
}
p{
    padding-top: 6px;
  }
img{
      width: 74px;
      margin-left: 80px;
      margin-top: 40px;
  }
  .fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    /* margin: -40px 0px -12px -40%; */
  }
  .fa-facebook-square {
    color: #3b5998;
    background-image: linear-gradient( to bottom, transparent 20%, white 20%, white 93%, transparent 93% );
    background-size: 55%;
    background-position: 70% 0;
    background-repeat: no-repeat;
    /* margin: -40px 0px -12px -0%; */
  }
  .btn{
      width: 80%;
      Height:50px;
      border-radius: 8px;
      font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
  }
  .btn:hover{
    border: 1px solid #F90716;
    background: #F90716;
    font-weight: 900;
}
  hr{
      width: 50px;
      height: 1px;
  }
  h6{
      margin-left: 39%;
      position: relative;
      color:#5a5a5a ;
  }
  h6::before{
      content:"";
      display: block;
      width: 143px;
      height: 1px;
      background: linear-gradient(to left, #5a5a5abb,#5a5a5a00);
      position: absolute;
      left: -153px;
      top: 50%;
  }
  h6::after{
    content:"";
    display: block;
    width: 143px;
    height: 1px;
    background: linear-gradient(to right, #5a5a5abb,#5a5a5a00);
    position: absolute;
    left: 25px;
    top: 50%;
}
.connect p{
    margin-left: 32%;
    color:#5a5a5a ;
    font-family: 'Poppins';
}