<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col left">
                <img src="./assets/logo.png" alt="logo">
            </div>
            <div class="col right"> 
                <h1>Login</h1>
                <div class="right-inner">
                    <form action="../login-two">
                        <label for="email">Email</label><br>
                        <input type="text" placeholder="Enter your mail id"><br><br><br>
                        <!-- <label for="password">Password</label><br>
                        <input type="password" placeholder="Enter your Password"><br>
                        <label for="password">Password</label><br>
                        <input type="password" placeholder="Confirm your Password"><br><br> -->
                        <button type="button" id="btnLogin" routerLink="../login-two"><p>Continue</p></button><br><br><br>
                    </form>
                    <h6><span>or</span></h6><br><br>

                </div>
                <div>
                    <button type="button" class="btn btn-outline-secondary"><i class="fab fa-google fa-1x" style="margin-right: 50px;">   </i>Continue with Google</button><br><br>
                    <button type="button" class="btn btn-outline-secondary"><i class="fa fa-facebook-square"style="margin-right: 35px;"></i> Continue with Facebook</button><br><br>
                </div>
                <div class="connect">
                    <p>Don't have an account? <a routerLink="../signup">Sign Up</a></p> <br>
                </div>
            </div>
        </div>   
    </div>
</div>


